.wrapper {
  padding: 0;
  min-height: 100vh;
  margin-bottom: 0;
  background-color: var(--wrapper);
}

.main-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding-inline: 15px;
  box-sizing: border-box;
  margin-inline: auto;
}

.sub-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
